// Package day{{ .DayStr }} contains solution for {{ .URL }} puzzle.
package day{{ .DayStr }}

import (
	"io"

	"github.com/obalunenko/advent-of-code/internal/puzzles"
)

func init() {
	puzzles.Register(solution{})
}

type solution struct{}

func (s solution) Year() string {
	return puzzles.Year{{ .Year }}.String()
}

func (s solution) Day() string {
	return puzzles.Day{{ .DayStr }}.String()
}

func (s solution) Part1(input io.Reader) (string, error) {
	return "", puzzles.ErrNotImplemented
}

func (s solution) Part2(input io.Reader) (string, error) {
	return "", puzzles.ErrNotImplemented
}
